
<div class="row">
    <table class="table table-reponsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Link</th>
                <th>Post parameters</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>GetToken</td>
                <td>Cấp token cho 1 kiosk</td>
                <td>/api/GetToken</td>
                <td>apikey, mako</td>
            </tr>
            <tr>
                <td>ClearToken</td>
                <td>Xóa token của 1 kiosk</td>
                <td>/api/ClearToken</td>
                <td>mako, matoken</td>
            </tr>
            <tr>
                <td>ClearAllTokens</td>
                <td>Xóa tất cả token</td>
                <td>/api/ClearAllTokens</td>
                <td>password</td>
            </tr>
            <tr>
                <td>CheckKIOSK</td>
                <td>Xác thực KIOSK</td>
                <td>/api/CheckKIOSK</td>
                <td>mako, matoken</td>
            </tr>
        </tbody>
    </table>
</div>
